PANTHEON_EDITION=crowpilot-lite
PANTHEON_AGENT_HOME=../.corbin
PANTHEON_RUNTIME_PROFILE=lite
PANTHEON_SCAN_BASE_URL=http://127.0.0.1:8083/v1
PANTHEON_SCAN_MODEL=Llama-3.2-1B-Instruct-Q4_0_4_4.gguf
PANTHEON_SCAN_PROMPT_MODE=instruction
PANTHEON_EMBEDDING_BASE_URL=http://127.0.0.1:8081/v1
PANTHEON_EMBEDDING_MODEL=nomic-embed-text-v1.5.Q8_0.gguf
PANTHEON_EMBED_MODE=realtime
